.duck {
  display: block;
  width: 120px;
  margin: 1.5rem auto;
}
.border
{
    border-style: solid;
    border-width: 1px;
    align-content: center;
}
.iconButton{
font-size:48px;
color: silver;
 }
 .fixedButton {
    position: fixed;
    top : 120PX;
    right : 50PX; 
}
.pullRight
{
    padding-right: 10px;
}

.adjust
{
    padding-inline-start: 10px;
    padding-left:10px;
}