.route--active {
  font-weight: bold;
  text-decoration: underline;
}
.logo{
  width: 100px;
  padding-top: 20px;
}
.float-right{
  float: right;
  padding-right: 20px;
}
.header-row{
  background-color: aliceblue;
}
.name-header{
  padding-left: 20px
}